.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,18px);
}
.navbar .profile{
    width: 40px;
}

@media (max-width:758px){
    .navbar .logo{
        width: 65px;
    }
}


@media (max-width:480px){
    .navbar .logo{
        width: 70px;
    }
}